
.AdminDashBoardMainSection {
    display: flex;
    justify-content: space-around;
}

.mainNoticeSection {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filterNoticeDesign {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    margin: 10px;
    width: 400px;
    transition-duration: 1s;
}
.filterNoticeDesign:hover{
    background-color:lavender;
    border-radius: 20px;
}

.btn-p {
    border: 2px solid tomato;
    color: tomato;
    padding: 5px 10px;
    background-color: transparent;
    transition-duration: 500ms;
    transition-timing-function: ease;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.btn-p::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: tomato;
    position: absolute;
    top: 0;
    right: 0;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transform: translate(100px);
    z-index: -1;
}

.btn-p:hover {
    transform: scale(1.05);
    color: white;
}

.btn-p:hover:after {
    transform: translate(0px);
}

.ImageSectionBackend {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
    transition-duration: 1s;
}
.ImageSectionBackend:hover{
    background-color: lavender;
}

@media only screen and (max-width: 516px) {
    .AdminDashBoardMainSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}